@model ClientCallViewModel

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="~/css/addNumber.css" asp-append-version="true" />
</head>

<body>
    <div class="container">
        <div class="stack-panel">
            <form asp-action="CreateClientAndCall" asp-controller="AddNumber">
                <input type="text" asp-for="Client.Name" placeholder="Введите имя" />
                <span asp-validation-for="Client.Name" class="text-danger"></span>

                <input type="text" asp-for="Client.PhoneNumber" asp-for="Call.ClientPhoneNumber" placeholder="Введите номер" value="+77"/>
                <span asp-validation-for="Client.PhoneNumber" class="text-danger"></span>

                <input type="text" asp-for="Client.Address" placeholder="Введите адрес"/>
                <span asp-validation-for="Client.Address" class="text-danger"></span>

                <textarea asp-for="Call.Comment" placeholder="Комментарий"></textarea>

                <input type="date" asp-for="Call.DateOfScheduledCall" placeholder="Выберите дату контакта"/>
                <span asp-validation-for="Call.DateOfScheduledCall" class="text-danger"></span>

                <button>Добавить</button>
            </form>
        </div>
    </div>
</body>
